
    <div id="homePageContainer" class="container">
        <div class="jumbotron">
            <h2>COAR-LA LIBERTAD</h2>
            <div class="container">
                <img src="~/Plantilla/images/coar.jpg" style="height:50%;width:50%;" />
            </div>
            
        </div>
        
    </div>