
@model List<POWERBI.Models.reporte>
    <div id="embedContainer">

        <div style="padding-left:20px;" class="justify-content-center">
            <h2>Reportes Disponibles</h2>

            <table class="table table-bordered table-hover d-table-cell table-responsive">

                <thead>
                <td>Nombre del Reporte</td>
                <td>Id del Reporte</td>
                <td>Opciones</td>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.reportName</td>
                            <td>@item.reportId</td>
                            <td>
                                <form action="Report" method="post">
                                    <input type="hidden" name="reportId" value="@item.reportId"/>
                                    <button class="btn btn-xs btn-primary" role="button" type="submit" >
                                    <i class="glyphicon glyphicon-credit-card"></i> <span>Ver</span>
                                    </button>

                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        
    </div>